{% extends 'base.html' %}

{% block head %}
<title>Biopsy Analyzer</title>
{% endblock %}

{% block body %}

    <!--    Title of the webpage -->
    <h2 style="text-align: center">Biopsy Analyzer</h2>

   <!-- Style definition for the Diagnose Sample button -->
    <style>
        .container {
          height: 50px;
          position: relative;
        }

        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>

    <!-- Diagnose sample button managed by AJAX-->
    <!-- Calls the POST /diagnose_sample and displays the Modal box -->
    <div class="container">
      <div class="center">
        <button type="button" class="btn btn-primary" id="button_diagnose" data-toggle="modal" data-target="#exampleModal">
            Diagnose sample
        </button>
      </div>
    </div>

    <!-- Style definition for the OpenSeaDragon UI -->
    <style>
      #openseadragon1{
        width: 800px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    <!-- OpenSeaDragon UI -->
    <div id="openseadragon1"></div>
    <script src="/static/scripts/openseadragon/openseadragon.min.js"></script>
    <script type="text/javascript">
        var viewer = OpenSeadragon({
            id: "openseadragon1",
            prefixUrl: "/static/scripts/openseadragon/images/",
            tileSources: "/static/media/biopsy.dzi"
        });
    </script>

    <!-- Style definition for the Modal dialog box -->
    <style>
        .modal {
            text-align: center;
            padding: 0!important;
        }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px; /* Adjusts for spacing */
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>

    <!-- Modal dialog box -->
    <div class="modal show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            The image is now being diagnosed
          </div>
        </div>
      </div>
    </div>

    <!-- AJAX manager to control the POST call to diagnose_sample -->
    <script>
    addEventListener("DOMContentLoaded", function() {
      document.getElementById("button_diagnose").addEventListener("click", function(e) {
        e.preventDefault();
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/diagnose_sample", true);
        xhttp.send();
      });
    }, true);
    </script>

    <!--    Bootstrap Scripts (necessary for the Modal dialog box)-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}