{% extends 'base.html' %}

{% block head %}
<title>Hello, world!</title>
{% endblock %}

{% block body %}

    <!--    Title of the webpage -->
    <h1 style="text-align: center">Basic Flask App</h1>

   <!--    Message controlled by POST method -->
    <h4 style="text-align: center">{{param}}</h4>
    <div class="form">
        <form action="/" method="POST">
            <input type="submit" value="Go!">
        </form>
    </div>

    <!--Create a button to be monitored by AJAX-->
    <button type="button" class="btn btn-primary" id="myBtn" data-toggle="modal" data-target="#exampleModal">
        Call POST
    </button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>


    <!-- AJAX manager to control the POST call to diagnose_sample -->
    <script>
    addEventListener("DOMContentLoaded", function() {
      document.getElementById("myBtn").addEventListener("click", function(e) {
        e.preventDefault();
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/diagnose_sample", true);
        xhttp.send();
      });
    }, true);
    </script>








    <!-- Modal dialog box -->
    <div class="modal show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            Some message in the modal
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>


    <!--    OpenSeaDragon UI -->
    <div id="openseadragon1" style="width: 800px; height: 600px;"></div>
    <script src="/static/scripts/openseadragon/openseadragon.min.js"></script>
    <script type="text/javascript">
        var viewer = OpenSeadragon({
            id: "openseadragon1",
            prefixUrl: "/static/scripts/openseadragon/images/",
            tileSources: "/static/media/biopsy.dzi"
        });
    </script>

    <!--    Bootstrap Scripts (necessary for the Modal dialog box)-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}